.in-stories {
    display: flex;
    gap: $gutter;
    overflow: auto;
}

.in-story {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gutter;
    @include fontSize(1.2);
    color: $secondaryText;
    font-weight: $regular;
    border-radius: 50%;

    img {
        width: 56px;
        height: 56px;
        border-radius: 50%;
    }
}

.in-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: min-content;
    gap: $gutterHalf;

    &__item {
        img {
            object-fit: cover;
            min-height: 100%;
            aspect-ratio: 4/4;
        }
    }
}


@media ($aboveTablet) {
    .in-stories {
        width: auto;
        gap: $gutter * 4;
    }
    .in-story {
        gap: $gutter * 2;
        @include fontSize(1.8);

        img {
            width: 89px;
            height: 89px;
            border-radius: 50%;
        }
    }

    .in-grid {
        gap: $gutter * 3;
    }
}