.in-image {
    &--profile {
        width: 77px;
        height: 77px;
        border-radius: 50%;
    }
}

@media ($aboveTablet) {
    .in-image {
        &--profile {
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }
    }
}