@import '../source/core.scss';

.in-stories {
    display: flex;
    gap: $gutter;
    overflow: auto;
}

.in-story {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gutter;
    font-weight: $regular;
    border-radius: 50%;

    h2 {
        @include fontSize(1.2);
        font-weight: $regular;
        color:$secondaryTextContrast;
    }

    img {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        object-fit: cover;
    }
}


@media ($aboveTablet) {
    .in-stories {
        width: auto;
        gap: $gutter * 4;
    }
    .in-story {
        gap: $gutter * 2;
        @include fontSize(1.8);

        img {
            width: 89px;
            height: 89px;
            border-radius: 50%;
        }
    }
}