@import './colors.scss';
@import './typography.scss';
@import './breakpoints.scss';
@import './variables.scss';
@import './mixins.scss';
@import './utils.scss';

html {
    font-size: 10px;
}

.container {
    width: 100%;
    max-width: 620px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

.border {
    &--none {
        border: none;
    }
    &--top {
        border-top: 1px solid $borderPrimary;
    }
    &--bottom {
        border-bottom: 1px solid $borderPrimary;
    }
}

.select {
    &--text {
        padding: 0;
        width: min-content;
    }
}

@media ($aboveDesktopSmall) {
    .container {
        max-width: $desktopSmallSize;
    }
}